.outer
{
    float:left;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.middle
{
    margin-top:25px;
}

.middleUpper
{
  font-size:1.5rem;
}

.middleLower
{
   font-size:1rem;
}
.lower
{
    margin-top:15px;
    overflow:auto;
    justify-content: space-evenly;
    display: flex;
}

.lowerInner
{
    float:left;
}